div.web-social-share {

  visibility: hidden;
  opacity: 0;

  cursor: pointer;
  touch-action: manipulation;

  // Display

  &.web-social-share-open {
    visibility: visible;
    opacity: 1;

    div.web-social-share-backdrop {
      opacity: var(--web-social-share-backdrop-opacity, 0.25);
    }

    div.web-social-share-action-sheet {
      opacity: 1;

      div.web-social-share-action-sheet-container {
        div.web-social-share-action-sheet-group {
          height: var(--web-social-share-height, 80px);

          @media (max-width: 540px) {
            height: var(--web-social-share-height-small-device, 140px);
          }
        }
      }
    }

    // Animate close
    &.web-social-share-transition-close {
      div.web-social-share-backdrop {
        opacity: 0;
      }

      div.web-social-share-action-sheet {
        div.web-social-share-action-sheet-container {
          div.web-social-share-action-sheet-group {
            height: 0;
          }
        }
      }
    }
  }

  // Backdrop

  div.web-social-share-backdrop {
    opacity: 0;
    transition: opacity 0.1s linear;

    background-color: var(--web-social-share-backdrop-background, black);

    z-index: var(--web-social-share-zindex, 1000);
    -webkit-transform: translate3d(0, 0, 2px);
    transform: translate3d(0, 0, 2px);

    left: 0;
    top: 0;
    position: fixed;
    height: 100%;
    width: 100%;
  }

  // Action sheet

  div.web-social-share-action-sheet {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    position: fixed;
    z-index: calc(var(--web-social-share-zindex, 1000) + 1);
    -webkit-transform: translate3d(0, 0, 3px);
    transform: translate3d(0, 0, 3px);

    width: 100%;
    max-width: 540px;

    @media (min-width: 540px) {
      div.web-social-share-action-sheet-container {
        div.web-social-share-action-sheet-group {
          border-radius: var(--web-social-share-action-sheet-group-border-radius, 8px 8px 0 0);
        }
      }
    }

    div.web-social-share-action-sheet-container {
      display: flex;
      flex-flow: column;
      justify-content: flex-end;
      height: 100%;
      max-height: 100%;

      div.web-social-share-action-sheet-group {

        box-shadow: var(--web-social-share-action-sheet-group-box-shadow, 0 0 8px 4px rgba(0,0,0,0.1));

        z-index: calc(var(--web-social-share-zindex, 1000) + 10);
        -webkit-transform: translate3d(0, 0, 10px);
        transform: translate3d(0, 0, 10px);

        background: var(--web-social-share-action-sheet-group-background, #fafafa);

        display: flex;
        justify-content: center;
        flex-wrap: wrap;

        height: 0;

        transition-timing-function: cubic-bezier(.36, .66, .04, 1);
        transition: height 0.2s ease-in;

        @media (max-width: 540px) {
          justify-content: flex-start;
        }
      }
    }
  }

  // Buttons

  div.web-social-share-target {
    margin: auto;
    width: var(--web-social-share-target-width, 4rem);
    height: var(--web-social-share-target-height, 3rem);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    button {
      position: relative;

      cursor: pointer;

      border: 0;
      background: transparent;

      width: var(--web-social-share-button-width, 100%);
      height: var(--web-social-share-button-height, 100%);

      font-size: var(--web-social-share-button-font-size);
    }

    p {
      margin: var(--web-social-share-brand-margin, 2px 0);

      color: var(--web-social-share-brand-color, inherit);
      font-size: var(--web-social-share-brand-font-size, 0.6rem);
    }

    div.web-social-share-button-icon {
      margin: 0;

      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

  }
}

::slotted([slot="facebook"]),
::slotted([slot="twitter"]),
::slotted([slot="email"]),
::slotted([slot="linkedin"]),
::slotted([slot="pinterest"]),
::slotted([slot="reddit"]),
::slotted([slot="whatsapp"]),
::slotted([slot="copy"]),
::slotted([slot="hackernews"]) {
  display: none;
}
