div.web-social-share {
  background-color: black;
  z-index: 1;
  -webkit-transform: translate3d(0, 0, 1px);
  transform: translate3d(0, 0, 1px);

  cursor: pointer;
  touch-action: manipulation;

  left: 0;
  top: 0;
  position: absolute;
  height: 100%;

  width: 100%;

  // Hide
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.1s linear;

  &.web-social-share-open {
    visibility: visible;
    opacity: 0.25;

    div.web-social-share-action-sheet {
      opacity: 1;

      div.web-social-share-action-sheet-container {
        div.web-social-share-action-sheet-group {
          height: 100px;
        }
      }
    }
  }

  // Action sheet

  div.web-social-share-action-sheet {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    position: absolute;

    z-index: 2;
    -webkit-transform: translate3d(0, 0, 2px);
    transform: translate3d(0, 0, 2px);

    width: 100%;
    max-width: 500px;
    pointer-events: none;

    div.web-social-share-action-sheet-container {
      display: flex;
      flex-flow: column;
      justify-content: flex-end;
      height: 100%;
      max-height: 100%;

      div.web-social-share-action-sheet-group {
        background-color: #fafafa;
        display: flex;
        flex-flow: column;

        height: 0;

        transition-timing-function: cubic-bezier(.36, .66, .04, 1);
        transition: height 0.4s;
      }
    }
  }
}
