:host {
  margin: auto;
  width: var(--web-social-share-target-width, 4rem);
  height: var(--web-social-share-target-height, 3rem);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

button {
  position: relative;

  cursor: pointer;

  border: 0;
  background: transparent;

  width: var(--web-social-share-button-width, 100%);
  height: var(--web-social-share-button-height, 100%);

  font-size: var(--web-social-share-button-font-size);
}

p {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0);
  margin: 0;

  color: var(--web-social-share-brand-color, inherit);
  font-size: var(--web-social-share-brand-font-size, 0.6rem);
}

div.web-social-share-button-icon {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
  margin: 0;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  height: var(--web-social-share-target-icon-container-height, 2rem);
}
