web-social-share-target {
  margin: auto;

  @media (max-width: 540px) {
    button.web-social-share-button {
      width: 100%;
    }
  }

  button {
    cursor: pointer;

    border: 0;
    background: transparent;
    width: 4rem;
    height: 4rem;
  }
}
