web-social-share-target {
  margin: auto;

  @media (max-width: 540px) {
    margin: 4px;
  }

  button {
    cursor: pointer;

    border: 0;
    background: transparent;
    width: 4rem;
    height: 4rem;
  }
}
